/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html {
  box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	max-width: 90em;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Navigation Section */
a {
	text-decoration: none;
	color: #838994;
}
/* Can't get this to work! */
body {
	font-family: 'Roboto', sans-serif;;
}
.top-navigation .links li:hover {
	cursor: pointer;
	color: #333333;
}
a:hover {
	color: black;
}
.top-navigation {
	background-color: #fff;
	position: fixed;
	width: 100%;
	z-index: 9999;
}
.content {
	padding: 0px 15px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
.top-navigation > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
}
.logo {
	margin-top: .75em;
}
.links > li {
	display: inline-block;
	float: left;
	margin-left: 2em;
	font-family: 'Roboto', sans-serif; 
	font-size: 16px; 
	color: #838994; 
	letter-spacing: 0.03em;
	cursor: pointer;
	margin-top: 2em;
}
.links {
	float: right;
}
html {
	-webkit-font-smoothing: antialiased;
}
.top-navigation .links > .active {
	color: #4c5058;
	font-weight: 500;
}
.background {
	background-image: url('../images/first-background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938rem;
	/*background-position: 0 bottom;
	background-size: cover;
	height: 45.938rem;*/
}
.background h1 {
	text-align: center;
	color: white;
	font-size: 40px;
	padding-top: 17.5rem;
}
.p-masthead {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color: white;
	font-size: 25px;
	margin-top: .25em;
}
.background-image {
	text-align: center;
	margin-top: 1em;
}
.background-button {
	color: white;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	padding: .75em .75em;
	-webkit-border-radius: .25em;
	-moz-border-radius: .25em;
	border-radius: .25em;
	color: #fef4e9;
	margin-top: auto;
	margin-bottom: auto;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.background-button:hover {
	cursor: pointer;
	background-color: blue;
}
.anchor {
	margin-top: 6em;
	text-align: center;
}
.anchor h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	font-weight: 300;
}
.anchor h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	font-weight: 300;
}
.anchor-pics li {
	display: inline-block;
	margin-left: 2.5em;
	padding-top: 2em;
}
.anchor-caption {
	margin-top: 2em;
}
.social {
	margin-top: 4em;
}
.social hr {
	width: 70%;
}
.icons li {
	display: inline-block;
	margin-left: 1.5em;
	padding-top: 1em;
}
.icons i {
	border-radius: 1em;
	border: .5em;
	border-color: lightblue;
}